@import "../../assets/variable.scss";
button{
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  background-color: #ffb24a;
  padding: .7em 2em;
  border-radius: 1em;
  border: none;
  line-height: 1em;
  text-transform: none;
  text-shadow: none;
  vertical-align: baseline;
  outline: 0;
}
.large{
  font-size:18px;
}
.small{
  font-size:14px;
}
